src/app/config/dtd/parameters.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT MAPPING (PARAM*)>
<!ATTLIST MAPPING
	NAME CDATA #REQUIRED
	FOLDER_NAME CDATA #REQUIRED
	DESCRIPTION CDATA #REQUIRED
>
<!ELEMENT PARAM EMPTY>
<!ATTLIST PARAM
	NAME CDATA #REQUIRED
	VALUE CDATA #REQUIRED
>
<!ELEMENT PARAMETERS (MAPPING+)>
<!ATTLIST PARAMETERS
	REPOSITORY_NAME CDATA #REQUIRED
>
